@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('/IMG/The Arcade - Vaporwave.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}

header {
  background-color: #555;
  padding: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #444;
}


nav ul {
  max-width: 70px;
  max-height: 70px;
  align-items: center;
  justify-content: space-around center;
  justify-content: center;
  display: flex;
  list-style-type: none;
  padding: 0px;

}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: background-color 0.3s;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 10px;
  justify-content: left;

}


nav a:hover {
  background-color: #555;
  border-radius: 10px;
}

img {
  width: 100%;
}


.top {
  color: red;
  display: block;
}

.section-container {
  display: flex;
  width: 100%;
}

.image-section {
  flex: 1;
  /* Take up 50% of the container */
}

.image-section img {
  width: 100%;
  /* Make the image fill the container */
  height: auto;
  /* Maintain the aspect ratio */
}

.payment {
  background: #f8f8f8;
  max-width: 360px;
  margin: 80px auto;
  height: auto;
  padding: 35px;
  padding-top: 70px;
  border-radius: 5px;
  position: relative;
}

.payment h2 {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 40px;
  color: #555555;
}

.form .label {
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.input {
  padding: 13px 0px 13px 25px;
  width: 100%;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 5px;
  letter-spacing: 1px;
  word-spacing: 3px;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  color: #555555;
}

.card-grp {
  display: flex;
  justify-content: space-between;
}

.card-item {
  width: 48%;
}

.space {
  margin-bottom: 20px;
}

.icon-relative {
  position: relative;
}

.icon-relative .fas,
.icon-relative .far {
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn {
  margin-top: 40px;
  background: #555555;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
  /* Change this to the desired color on hover */
  transition: 0.3s;
  color: black;
}



.payment-logo {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 85px;
}

.payment-logo:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 90px;
  height: 90px;
  background: #555555;
  border-radius: 50%;
}

.payment-logo p {
  position: relative;
  color: #f8f8f8;
  font-family: Arial, sans-serif;
  font-size: 58px;
}


@media screen and (max-width: 420px) {
  .card-grp {
    flex-direction: column;
  }

  .card-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .btn {
    margin-top: 20px;
  }
}